.HatCanvas {
  min-height: 50vh;
  font-size: calc(10px + 2vmin);
  background: #efefef;
  color: black;
  display: flex;
  flex-direction: row;
  gap: 2vh;
  align-items: center;
  justify-content: center;
}